<app-action-loader *ngIf="actionLoading"></app-action-loader>
<app-init-loader *ngIf="initLoading"></app-init-loader>

<section class="container pt-4" *ngIf="!initLoading">
    <div class="row mb-3">
        <div class="col-6">
            <a class="btn btn-light" href="/admin" routerLink="/admin" role="button">Retour</a>
        </div>
        <div class="col-6 text-right">
            <a class="btn btn-primary" href="/admin/travelogues/add" routerLink="/admin/travelogues/add"
                role="button">Créer</a>
        </div>
    </div>
    <div class="row">
        <h1 class="col-12">Carnets de voyage</h1>
    </div>
    <div class="row">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Description</th>
                    <th scope="col">Groupes</th>
                    <th scope="col">Nom PDF</th>
                    <th scope="col">Lien PDF</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let travelogue of allTravelogues">
                    <th scope="row">{{travelogue.id}}</th>
                    <td>{{travelogue.name}}</td>
                    <td>{{travelogue.description}}</td>
                    <td>
                        <ul>
                            <li *ngFor="let team of travelogue.teams">
                                {{team.name}}
                            </li>
                        </ul>
                    </td>
                    <td>
                        <span *ngIf="travelogue.pdfName; else elseBlock">{{travelogue.pdfName}}</span>
                        <ng-template #elseBlock>Aucun PDF</ng-template>
                    </td>
                    <td>
                        <a *ngIf="travelogue.pdfLink; else elseBlock"
                            href="{{apiUrl}}/media/{{travelogue.pdfLink.filePath}}" target="_blank"
                            rel="noopener noreferrer">Voir</a>
                        <ng-template #elseBlock>Aucun PDF</ng-template>
                    </td>
                    <td><a class="btn btn-info" href="/admin/travelogues/{{travelogue.id}}/edit"
                            routerLink="/admin/travelogues/{{travelogue.id}}/edit" role="button">Modifier</a></td>
                    <td><button type="button" class="btn btn-danger"
                            (click)="removeTravelogue(travelogue)">Supprimer</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>