<app-action-loader *ngIf="actionLoading"></app-action-loader>
<app-init-loader *ngIf="initLoading"></app-init-loader>

<section class="container pt-4" *ngIf="!initLoading">
    <div class="row mb-3">
        <div class="col-12">
            <a class="btn btn-light" href="/admin/teams" routerLink="/admin/teams" role="button">Retour</a>
        </div>
    </div>
    <div class="row">
        <h1 class="col-12">Modifier un groupe</h1>
    </div>
    <div class="row">
        <div class="col-12">
            <form #editTeamForm="ngForm" class="form-horizontal">
                <fieldset>
                    <div class="form-group row">
                        <div class="col-12">
                            <label class="control-label" for="name">Nom</label>
                            <div class="controls">
                                <input [(ngModel)]="team.name" type="text" id="name" name="name" class="form-control"
                                    required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-12">
                            <label>Carnet de voyage du groupe</label>
                            <div class="controls">
                                <select name="travelogue" [(ngModel)]="team.travelogue['@id']">
                                    <option *ngFor="let travelogue of allTravelogues" value="{{travelogue['@id']}}">
                                        {{travelogue.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-12">
                            <p>Utilisateurs pour ce groupe</p>
                            <div class="card bg-light" style="max-width: 18rem;">
                                <div class="card-body">
                                    <div class="form-check" *ngFor="let user of allUsers">
                                        <input class="form-check-input" name="teamUsers[]" type="checkbox"
                                            id="{{user.id}}" value="" [checked]="selectedUsers.indexOf(user['@id']) > -1"
                                            (change)="onChangeUser($event, user)">
                                        <label class="form-check-label" for="{{user.firstname}} {{user.lastname}}">
                                            {{user.firstname}} {{user.lastname}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-12">
                            <div class="controls">
                                <button class="btn btn-success" type="submit" (click)="editTeam();"
                                    [disabled]="!editTeamForm.form.valid">Modifier</button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</section>