<app-action-loader *ngIf="actionLoading"></app-action-loader>

<section class="container pt-4">
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <form #signinForm="ngForm" class="form-horizontal">
                <fieldset>
                    <div class="row">
                        <div id="legend" class="col-6">
                            <legend class="">Connexion</legend>
                        </div>
                        <div class="col-6 text-right">
                            <a href="/signup" routerLink="/signup" role="button">S'inscrire</a>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12">
                            <!-- E-mail -->
                            <label class="control-label" for="email">E-mail</label>
                            <div class="controls">
                                <input [(ngModel)]="email" type="text" id="email" name="email" class="form-control"
                                    required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-12">
                            <!-- Password-->
                            <label class="control-label" for="password">Mot de passe</label>
                            <div class="controls">
                                <input [(ngModel)]="password" type="password" id="password" name="password"
                                    class="form-control" required>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="hasErrors" class="row">
                        <p class="error text-danger col-12">
                            {{ errorMessage }}
                        </p>
                    </div>

                    <div class="form-group row">
                        <div class="col-12">
                            <!-- Button -->
                            <div class="controls">
                                <button class="btn btn-success" type="submit" (click)="signin();"
                                    [disabled]="!signinForm.form.valid">Se connecter</button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</section>