<app-action-loader *ngIf="actionLoading"></app-action-loader>
<app-init-loader *ngIf="initLoading"></app-init-loader>

<section class="container pt-4" *ngIf="!initLoading">
    <div class="row mb-3">
        <div class="col-12">
            <a class="btn btn-light" href="/admin/users" routerLink="/admin/users" role="button">Retour</a>
        </div>
    </div>
    <div class="row">
        <h1 class="col-12">Modifier un utilisateur</h1>
    </div>
    <div class="row">
        <div class="col-12">
            <form #editUserForm="ngForm" class="form-horizontal">
                <fieldset>
                    <div class="form-group row">
                        <div class="col-12">
                            <label class="control-label" for="email">E-mail</label>
                            <div class="controls">
                                <input [(ngModel)]="user.email" type="text" id="email" name="email" class="form-control"
                                    required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-12">
                            <label class="control-label" for="firstname">Prénom</label>
                            <div class="controls">
                                <input [(ngModel)]="user.firstname" type="text" id="firstname" name="firstname"
                                    class="form-control" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-12">
                            <label class="control-label" for="lastname">Nom</label>
                            <div class="controls">
                                <input [(ngModel)]="user.lastname" type="text" id="lastname" name="lastname"
                                    class="form-control" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-12">
                            <div class="form-check">
                                <input class="form-check-input" name="isadmin" type="checkbox"
                                    id="isadmin" value="" [checked]="user.roles.indexOf('ROLE_ADMIN') > -1"
                                    (change)="onChangeRole($event)">
                                <label class="form-check-label" for="isadmin">
                                    Statut d'administrateur
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-12">
                            <div class="controls">
                                <button class="btn btn-success" type="submit" (click)="editUser();"
                                    [disabled]="!editUserForm.form.valid">Modifier</button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</section>