<app-action-loader *ngIf="actionLoading"></app-action-loader>
<app-init-loader *ngIf="initLoading"></app-init-loader>

<section class="container pt-4" *ngIf="!initLoading">
    <div class="row mb-3">
        <div class="col-6">
            <a class="btn btn-light" href="/admin" routerLink="/admin" role="button">Retour</a>
        </div>
        <div class="col-6 text-right">
            <a class="btn btn-primary" href="/admin/teams/add" routerLink="/admin/teams/add" role="button">Créer</a>
        </div>
    </div>
    <div class="row">
        <h1 class="col-12">Groupes</h1>
    </div>
    <div class="row">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Membres</th>
                    <th scope="col">Voyage</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let team of allTeams">
                    <th scope="row">{{team.id}}</th>
                    <td>{{team.name}}</td>
                    <td>
                        <ul>
                            <li *ngFor="let user of team.users">
                                {{user.firstname}} {{user.lastname}}
                            </li>
                        </ul>
                    </td>
                    <td>
                        <span *ngIf="team.travelogue; else elseBlock">{{team.travelogue.name}}</span>
                        <ng-template #elseBlock>Aucun voyage</ng-template>
                    </td>
                    <td><a class="btn btn-info" href="/admin/teams/{{team.id}}/edit"
                            routerLink="/admin/teams/{{team.id}}/edit" role="button">Modifier</a></td>
                    <td><button type="button" class="btn btn-danger" (click)="removeTeam(team)">Supprimer</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>