<app-action-loader *ngIf="actionLoading"></app-action-loader>
<app-init-loader *ngIf="initLoading"></app-init-loader>

<section class="container pt-4" *ngIf="!initLoading">
    <div class="row mb-3">
        <div class="col-6">
            <a class="btn btn-light" href="/admin" routerLink="/admin" role="button">Retour</a>
        </div>
        <div class="col-6 text-right">
            <a class="btn btn-primary" href="/admin/users/add" routerLink="/admin/users/add" role="button">Créer</a>
        </div>
    </div>
    <div class="row">
        <h1 class="col-12">Utilisateurs</h1>
    </div>
    <div class="row">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Email</th>
                    <th scope="col">Firstname</th>
                    <th scope="col">Lastname</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of allUsers">
                    <th scope="row">{{user.id}}</th>
                    <td>{{user.email}}</td>
                    <td>{{user.firstname}}</td>
                    <td>{{user.lastname}}</td>
                    <td><a class="btn btn-info" href="/admin/users/{{user.id}}/edit" routerLink="/admin/users/{{user.id}}/edit" role="button">Modifier</a></td>
                    <td><button type="button" class="btn btn-danger" (click)="removeUser(user)">Supprimer</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>