<section class="container pt-4">
    <div class="row">
        <h1 class="col-8">Administration</h1>
        <div class="col-4 text-right">
            <a class="btn btn-primary" href="/" routerLink="/" role="button">Retour accueil</a>
        </div>
    </div>
    <div class="row d-flex justify-content-around">
        <a href="/admin/users" routerLink="/admin/users">
            <div class="card bg-light mb-3 mt-3 col-3" style="max-width: 18rem;">
                <div class="card-body text-center">
                    <h5 class="card-title">Utilisateurs</h5>
                    <p class="card-text">Gestion des utilisateurs</p>
                </div>
            </div>
        </a>
        <a href="/admin/teams" routerLink="/admin/teams">
            <div class="card bg-light mb-3 mt-3 col-3" style="max-width: 18rem;">
                <div class="card-body text-center">
                    <h5 class="card-title">Groupes</h5>
                    <p class="card-text">Gestion des groupes</p>
                </div>
            </div>
        </a>
        <a href="/admin/travelogues" routerLink="/admin/travelogues">
            <div class="card bg-light mb-3 mt-3 col-3" style="max-width: 18rem;">
                <div class="card-body text-center">
                    <h5 class="card-title">Carnets</h5>
                    <p class="card-text">Gestion des carnets de voyage</p>
                </div>
            </div>
        </a>
    </div>
</section>