<app-action-loader *ngIf="actionLoading"></app-action-loader>

<section class="container pt-4">
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <form #signupForm="ngForm" class="form-horizontal">
                <fieldset>
                    <div class="row">
                        <div id="legend" class="col-6">
                            <legend class="">Inscription</legend>
                        </div>
                        <div class="col-6 text-right">
                            <a href="/signin" routerLink="/signin" role="button">Se connecter</a>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12">
                            <label class="control-label" for="email">E-mail</label>
                            <div class="controls">
                                <input [(ngModel)]="email" type="text" id="email" name="email" class="form-control"
                                    required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-12">
                            <label class="control-label" for="firstname">Prénom</label>
                            <div class="controls">
                                <input [(ngModel)]="firstname" type="text" id="firstname" name="firstname"
                                    class="form-control" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-12">
                            <label class="control-label" for="lastname">Nom</label>
                            <div class="controls">
                                <input [(ngModel)]="lastname" type="text" id="lastname" name="lastname"
                                    class="form-control" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-12">
                            <label class="control-label" for="password">Mot de passe</label>
                            <div class="controls">
                                <input [(ngModel)]="password" type="password" id="password" name="password"
                                    class="form-control" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-12">
                            <div class="controls">
                                <button class="btn btn-success" type="submit" (click)="signup();"
                                    [disabled]="!signupForm.form.valid">S'inscrire</button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</section>