<app-action-loader *ngIf="actionLoading"></app-action-loader>

<section class="container pt-4">
    <div class="row mb-3">
        <div class="col-12">
            <a class="btn btn-light" href="/admin/users" routerLink="/admin/users" role="button">Retour</a>
        </div>
    </div>
    <div class="row">
        <h1 class="col-12">Créer un utilisateur</h1>
    </div>
    <div class="row">
        <div class="col-12">
            <form #createUserForm="ngForm" class="form-horizontal">
                <fieldset>
                    <div class="form-group row">
                        <div class="col-12">
                            <label class="control-label" for="email">E-mail</label>
                            <div class="controls">
                                <input [(ngModel)]="email" type="text" id="email" name="email" class="form-control"
                                    required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-12">
                            <label class="control-label" for="firstname">Prénom</label>
                            <div class="controls">
                                <input [(ngModel)]="firstname" type="text" id="firstname" name="firstname"
                                    class="form-control" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-12">
                            <label class="control-label" for="lastname">Nom</label>
                            <div class="controls">
                                <input [(ngModel)]="lastname" type="text" id="lastname" name="lastname"
                                    class="form-control" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-12">
                            <label class="control-label" for="password">Mot de passe</label>
                            <div class="controls">
                                <input [(ngModel)]="password" type="password" id="password" name="password"
                                    class="form-control" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-12">
                            <div class="form-check">
                                <input class="form-check-input" name="isadmin" type="checkbox" id="isadmin" value=""
                                    [checked]="roles.indexOf('ROLE_ADMIN') > -1" (change)="onChangeRole($event)">
                                <label class="form-check-label" for="isadmin">
                                    Statut d'administrateur
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-12">
                            <div class="controls">
                                <button class="btn btn-success" type="submit" (click)="createUser(createUserForm);"
                                    [disabled]="!createUserForm.form.valid">Créer</button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</section>