<app-action-loader *ngIf="actionLoading"></app-action-loader>
<app-init-loader *ngIf="initLoading"></app-init-loader>

<section class="container pt-4" *ngIf="!initLoading">
    <div class="row mb-3">
        <div class="col-4">
            <a class="btn btn-light" href="/admin/travelogues" routerLink="/admin/travelogues" role="button">Retour</a>
        </div>
        <div class="col-8 text-right">
            <button class="btn btn-primary" (click)="sendTravelogue();">Envoyer par mail</button>
        </div>
    </div>
    <div class="row">
        <h1 class="col-12">Modifier un carnet de voyage</h1>
    </div>
    <div class="row">
        <div class="col-12">
            <form #editTravelogueForm="ngForm" class="form-horizontal">
                <fieldset>
                    <div class="form-group row">
                        <div class="col-12">
                            <label class="control-label" for="name">Nom</label>
                            <div class="controls">
                                <input [(ngModel)]="travelogue.name" type="text" id="name" name="name"
                                    class="form-control" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-12">
                            <label class="control-label" for="description">Description</label>
                            <div class="controls">
                                <input [(ngModel)]="travelogue.description" type="text" id="description"
                                    name="description" class="form-control" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-12">
                            <label class="control-label" for="pdfFile">PDF du carnet</label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="pdfFile"
                                    (change)="onChangePDF($event.target.files[0])">
                                <label class="custom-file-label" for="pdfFile">{{selectedPDFName}}</label>
                            </div>
                            <a *ngIf="travelogue.pdfLink" href="{{apiUrl}}/media/{{travelogue.pdfLink.filePath}}"
                                target="_blank" rel="noopener noreferrer">Voir le PDF actuel</a>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-12">
                            <p>Groupes pour ce voyage</p>
                            <div class="card bg-light" style="max-width: 18rem;">
                                <div class="card-body">
                                    <div class="form-check" *ngFor="let team of allTeams">
                                        <input class="form-check-input" name="travelogueTeams[]" type="checkbox"
                                            id="{{team.id}}" value=""
                                            [checked]="selectedTeams.indexOf(team['@id']) > -1"
                                            (change)="onChangeTeam($event, team)">
                                        <label class="form-check-label" for="{{team.name}}">
                                            {{team.name}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-12">
                            <div class="controls">
                                <button class="btn btn-success" type="submit" (click)="editTravelogue();"
                                    [disabled]="!editTravelogueForm.form.valid">Modifier</button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</section>