html, body {
    height: 100%;
    background: #f5f5f5;
}

section.container {
    background: white;
    border-radius: 5px;
    box-shadow: -3px 3px 10px rgba(0,0,0,0.3);
    margin-top: 3rem;
}

.loading-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-screen.with-bg {
    background: rgba(0, 0, 0, 0.4);
}