<app-action-loader *ngIf="actionLoading"></app-action-loader>
<app-init-loader *ngIf="initLoading"></app-init-loader>

<section class="container pt-4" *ngIf="!initLoading">
    <div class="row">
        <h1 class="col-8">Bienvenue {{currentUser.firstname}} !</h1>
        <div class="col-4 text-right">
            <a *ngIf="currentUser.roles.includes('ROLE_ADMIN')" class="btn btn-primary" href="/admin" routerLink="/admin" role="button">Accès back-office</a>
        </div>
    </div>
    <div class="row">
        <h2 class="col-12">Mes informations</h2>
        <div class="col-12">
            <ul>
                <li>Nom : {{currentUser.lastname}}</li>
                <li>Prénom : {{currentUser.firstname}}</li>
                <li>Mail : {{currentUser.email}}</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <h2 class="col-12">Mes groupes</h2>
        <div class="col-4" *ngFor="let team of teamsOfUser">
            <p><strong>{{team.name}} :</strong></p>
            <ul>
                <li *ngFor="let user of team.users">
                    {{user.firstname}} {{user.lastname}}
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <h2 class="col-12">Mes carnets de voyage</h2>
        <div class="col-4" *ngFor="let travelogue of traveloguesOfUser">
            <p><strong>{{travelogue.name}} :</strong></p>
            <ul>
                <li>Description : {{travelogue.description}}</li>
                <li>PDF :
                    <span *ngIf="travelogue.pdfName; else elseBlock">{{travelogue.pdfName}}</span>
                    <ng-template #elseBlock>Aucun PDF</ng-template>
                </li>
                <li>Lien :
                    <a *ngIf="travelogue.pdfLink; else elseBlock"
                        href="{{apiUrl}}/media/{{travelogue.pdfLink.filePath}}" target="_blank"
                        rel="noopener noreferrer">Voir</a>
                    <ng-template #elseBlock>Aucun PDF</ng-template>
                </li>
            </ul>
        </div>
    </div>
</section>